@import './Global.css';

.about-us {
  background: var(--second-color);
  .about-us-carousel-container {
    padding-bottom: 40px;
    .about-us-title {
      padding-top: 20px;
      text-align: center;
      font-size: var(--component-title-mobile);
      margin-bottom: 20px;
      color: var(--primary-color);
    }
    .about-us-carousel {
      border-radius: 50%;
      width: 50%;
      margin: auto;
      .about-us-container {
        display: flex;
        align-items: center;
      }
      .legend {
        font-size: 15px;
        background-color: var(--primary-color);
        opacity: 0.8;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .about-us {
    .about-us-carousel-container {
      .about-us-title {
        font-size: var(--component-title-desktop);
      }
      .about-us-carousel {
        width: 40%;
        .about-us-container {
          border-radius: 50%;
        }
        .legend {
          font-size: 20px;
        }
      }
    }
  }
}
