@import './Global.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dataByCounty {
  font-family: var(--roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--component-title-mobile);
    color: var(--primary-color);
    font-weight: 700;
  }

  .dataRow {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .dataCard {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      margin:0;
    }

    .dataNumbers {
      p {
        text-align: center;
        padding: 5px 0;
      }
      ul {
        margin-top: 5px;
      }
      li {
        list-style: none;
        line-height: 1.5em;
      }
      em {
        font-style: normal;
        font-weight: 700;
      }
    }
  }

  .dom {
    font-size: 12px;
    text-align: center;
  }

  .map {
    display:flex;
    flex-direction: column;
    align-items: center;
    .react-transform-element {
      display:flex;
      justify-content:center;
    }
    p {
      font-size: 14px;
      color: gray;
      margin-top: 5px;
    }
  }

  @media only screen and (min-width: 600px) {
    .title {
      font-size: var(--component-title-desktop);
    }
    .map {
      width: 50vw;
      min-width: 400px;
    }
    .dataRow {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .dataCard {
      width: 30%;
      h2 {
        font-size: 30px;
      }
    }
  }
}
