@import './Global.css';

body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: var(--primary-color);
  height: auto;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    margin-bottom: 0;
    display: flex;
  }

  p {
    color: white;
    margin: 3px;
    padding: 2px;
    font-size: 15px;
    text-align: center;
  }

  @media (min-width: 700px) {
    flex-wrap: nowrap;

    .footerUlMedia {
      display: flex;
      order: 1;
      justify-content: flex-start;
    }
    .footerUlGouv {
      display: flex;
      order: 3;
      justify-content: flex-end;
    }
    .footerP {
      display: flex;
      order: 2;
      justify-content: center;
    }
  }
}
