@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2d414d;
  --second-color: #c3ebe2;
  --component-title-desktop: 30px;
  --component-title-mobile: 30px;
  --button-color: #a64a56;
  --roboto: 'Roboto', sans-serif;
}
