@import './Global.css';

.header {

  .menu {
    background-color: var(--primary-color);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  .logo{
    width: 60%;
    margin-left: 20px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    font-family: var(--roboto);
    font-size: 20px;
  }

  .lien-navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    font-family: var(--roboto);
  }

  .liste {
    display: none;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin: 10px;
  }

  @media screen and (min-width: 600px) {
    .liste {
      display: flex;
    }
    #hamburger_button {
      display: none;
    }
    .menu {
      height: 80px;
    }
    .logo{
      width: 75%;
    }
  }
}
