@import './Global.scss';

.store-container {
  color: var(--primary-color);
  margin-top: 20px;
  h1 {
    text-align: center;
  }
  a, a:hover, a:link {
    text-decoration:none;
    color: var(--primary-color);
    h3 {
      text-align: center;
    }
  }

  .container-map {
    color: var(--primary-color);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
