footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #a68c70;
  height: auto;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    margin-bottom: 0;
    display: flex;
  }

  p {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 3px;
    padding: 2px;
    font-size: 10px;
    text-align: center;
  }
}
