@import '../Global.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.header {
  
  .menu {
    width: 100%;
    height: 80px;
    background-color: var(--marron);
    margin-bottom: 10px;
  }
  .inner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-top: 10%;
  }
  .navBarRight {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }

  .lien-navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
  }

  .liste {
    display: none;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin: 10px;
  }

  @media screen and (min-width: 600px) {
    .liste {
      display: flex;
    }
    #hamburger_button {
      display: none;
    }
  }
}
