.container-card {
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  width: 400px;
  height: auto;
  margin: 100px 30px 30px 30px;
  padding: 30px;
}
.container-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #233559;
}
